*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #22232a;
}
.box{
    position: relative;
    width: 380px;
    height: 420px;
    border-radius: 8px;
    background-color: #1c1c1c;
    overflow: hidden;
}
.box::before{
    content: "";
    position: absolute;
    left: -50%;
    top: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg ,transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: diyorbek 6s linear infinite;
}
.box::after{
    content: "";
    position: absolute;
    left: -50%;
    top: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: diyorbek 6s linear infinite;
    animation-delay: -3s;
}
.form{
    background: #28292d;
    position: absolute;
    inset:  2px;
    border-radius: 8px;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}
.form h2{
    color: #45f3ff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1rem;
}
.inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    z-index: 10;
}
.inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    font-size: 1rem;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05rem;
    transition: all 0.5s linear;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color: #45f3ff;
    transform: translateX(0px) translateY(-34px);
    font-size: 0.75rem;
}
.inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}
.inputBox input:valid ~ i ,
.inputBox input:focus ~ i {
    height: 44px;
}
.links{
    display: flex;
    justify-content: space-between;
}
.links a{
    margin: 10px 0;
    font-size: 0.75rem;
    color: #8f8f8f;
    text-decoration: none;
}
.links a:hover{
    color: #45f3ff;
}
input[type="submit"]{
    border: none;
    outline: none;
    background: #45f3ff;
    padding: 11px 25px;
    width: 100px;   
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    color: #22232a;
}
input[type="submit"]:active{
    opacity: 0.7;
}


@keyframes diyorbek{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}